html {
  overflow-x: hidden;
}

body {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  background-image: url("../assets/blumblumblum-background.png");
  background-position: center;
  background-repeat: repeat;
  background-size: auto 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 110vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: arial;
  font-size: 24px;
  display: block;
  padding-top: 20px;
  text-align: center;
  border-radius: 15px;
  width: fit-content;
  height: 80vh;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

li {
  display: inline-block;
  margin: 0 10px;
}

.logo,
.white-drape {
  padding: 5%;
  border-radius: 30px;
  background-color: rgb(255, 255, 255, 0.85);
  text-align: center;
  margin: 20px auto;
  position: relative; /* Added position */
  z-index: 2; /* Added z-index */
}

.logo {
  width: 40%;
}

.white-drape {
  width: fit-content;
  padding: 10px 20px;
}

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  font-size: smaller;
  background-color: rgb(255, 255, 255, 0.85);
  text-align: center;
  border-radius: 30px;
  margin: 20px auto;
  z-index: 2;
  display: block;
  width: 60%;
  max-width: 400px;
}

.links i {
  padding-top: 5%;
  color: #971a1d;
  transition: all 0.3s ease;
}

.social-link:hover i.fa-x-twitter {
  color: black;
}
.social-link:hover i.fa-instagram {
  color: #e1306c;
}
.social-link:hover i.fa-strava {
  color: #fc4c02;
}
.social-link:hover i.fa-github {
  color: #6cc644;
}
.social-link:hover i.fa-spotify {
  color: #1db954;
}
.social-link:hover i.fa-drumstick-bite {
  color: #964b00;
}
.social-link:hover i.fa-camera {
  color: gray;
}

@media (max-width: 768px) {
  ul {
    flex-direction: column;
    align-items: center;
  }
  li {
    margin-bottom: 10px;
  }
  .logo {
    width: 60%;
  }
  .white-drape {
    width: 80%;
  }
}
.logo {
  max-width: 100%;
  height: auto;
}
