html { overflow-x: hidden; }

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    background-image: url("../assets/blumblumblum-background.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: auto 100%;
    max-width: max-content;
}

.container {
    font-family: arial;
    font-size: 24px;
    padding-top: 20px;
    text-align: center;
    border-radius: 15px;
    width: fit-content;
}

ul {
    list-style: inside;
    text-align: center;
}

li {
    display: inline-block;
}

.logo {
    height: 150px;
    padding: 5%;
    border-radius: 30px;
    background-color: rgb(255, 255, 255, .85);
    display: inline;
    margin: auto 89%;
}

.white-drape {
    display: block;
    margin: 10% 70%;
    padding: 5%;
    border-radius: 30px;
    width: 100%;
    background-color: rgb(255, 255, 255, .85)
}

.links i {
    padding-top: 5%;
    color: #971a1d;
    transition: all 0.3s ease;
}

.social-link:hover i.fa-twitter { color: #1da1f2; }
.social-link:hover i.fa-instagram { color: #e1306c; }
.social-link:hover i.fa-strava {color: #fc4c02}
.social-link:hover i.fa-github {color: #6cc644}
.social-link:hover i.fa-spotify {color: #1DB954;}
.social-link:hover i.fa-drumstick-bite {color: #964B00}
.social-link:hover i.fa-camera {color: black;}

.footer {
    text-align: center;
    border-radius: 15px;
    position: relative;
    bottom: 0;
    margin: auto 92%;
    background-color: rgb(255, 255, 255, .85);
    width: 60%;
}

@media (max-width : 700px) {

    .logo {
        width: 100%;
        margin: auto 35%;
        height: 150px;
        padding: 5%;
        border-radius: 30px;
        background-size: 100%;
        background-color: rgb(255, 255, 255, .85)
    }

    .white-drape {
        border-radius: 15px;
        margin: 10% 73%;
        background-color: rgb(255, 255, 255, .85);
        width: 30%;
    }

    ul {
        list-style: none;
        display: inline;
    }

    li {
        display: list-item;
    }

    .footer {
        text-align: center;
        border-radius: 15px;
        position: relative;
        bottom: 0;
        background-color: rgb(255, 255, 255, .85);
        width: 120%;
        margin: auto 30%;
    }
}