html { overflow-x: hidden; }

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    line-height: 2em;
    overflow-x: visible;
}


.container {
    font-family: arial;
    font-size: 24px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

.links {
    text-align: center;
}

.links img {
    padding-top: 40px;
}

.links a {
    padding: 15px;
}

.links i {
    padding-top: 15px;
    color: #CCCCCC;
    transition: all 0.3s ease;
}

.social-link:hover i.fa-twitter { color: #1da1f2; }
.social-link:hover i.fa-instagram { color: #e1306c; }
.social-link:hover i.fa-strava {color: #fc4c02}
.social-link:hover i.fa-github {color: #6cc644}
.social-link:hover i.fa-spotify {color: #1DB954;}
.social-link:hover i.fa-drumstick-bite {color: #964B00}
.social-link:hover i.fa-camera {color: black;}

p {
    /* Center horizontally*/
    text-align: center;
  }

.footer {
    text-align: center;
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
}