html { overflow-x: hidden; }

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    line-height: 2em;
    transform-origin: 0 0;
    background-image: url("../assets/blumblumblum-background.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: auto 100%;
}

.container {
    font-family: arial;
    font-size: 24px;
    padding-top: 20px;
    text-align: center;
}

ul {
    list-style: none;
}

li {
    display: inline;
}

.logo {
    width: 100%;
    margin: auto 25%;
    height: 150px;
    padding: 5%;
    border-radius: 30px;
    background-size: 100%;
    background-color: rgb(255, 255, 255, .85)
}

@media (max-width : 700px) {

    ul {
        list-style: none;
        display: inline;
    }

    li {
        display: list-item;
    }
}

.white-drape {
    display: block;
    margin: 10% 50%;
    padding: 5%;
    border-radius: 30px;
    width: 50%;
    background-color: rgb(255, 255, 255, .85)
}

.links i {
    padding-top: 5%;
    color: #971a1d;
    transition: all 0.3s ease;
}

.social-link:hover i.fa-twitter { color: #1da1f2; }
.social-link:hover i.fa-instagram { color: #e1306c; }
.social-link:hover i.fa-strava {color: #fc4c02}
.social-link:hover i.fa-github {color: #6cc644}
.social-link:hover i.fa-spotify {color: #1DB954;}
.social-link:hover i.fa-drumstick-bite {color: #964B00}
.social-link:hover i.fa-camera {color: black;}

p {
    /* Center horizontally*/
    text-align: center;
  }

.footer {
    text-align: center;
    border-radius: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin: auto 30%;
    background-color: rgb(255, 255, 255, .85)
}